<%# send index to editSubmit/ endpoint, will use to edit the selected post of the appropriate index %>
<form action="/editSubmit/<%= num %>" method="post">
    <%# display the post title and body in the text entry fields %>
    <input type="text" name="titleText" placeholder="Enter title" class="title-text" value="<%= posts[num].title %>">
    <textarea type="text" name="bodyText" placeholder="Enter the body content" class="body-text"><%= posts[num].content %></textarea>
    <button type="submit" class="btn btn-dark btn-lg">Edit</button>
</form>
