
<form action="/submit" method="post">
    <input type="text" name="titleText" placeholder="Enter title" class="title-text">
    <textarea type="text" name="bodyText" placeholder="Enter the body content" class="body-text"></textarea>
    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
</form>

